<div id="glFullscreen" style="margin-top:20px; padding-left:20px; padding-right:20px; text-align:center">

  <div style="position:relative; top:12em">
    <img src="assets/images/dendino.png" style="height:6em; width:auto" />
    <br /><br />
    <h5>Hello World!</h5>
    <br />
    <p>
      Here are some simple 3D Simulations that have been made with three.js. <br />
      Feel free to use the code as you like. <br />
      The models are not made by me and have been obtained online.
    </p>
  </div>  
  

</div>
