@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6, nav, label {
  font-family: 'Montserrat', sans-serif !important;
}

p, li, span, .btn, input, textarea {
  font-family: 'News Cycle', sans-serif !important;
  letter-spacing: 1px;
}


body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
